.row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

hgroup > h1{
    text-align: center;
}

.row > div{
    font-size: 1.6rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border: 1px solid brown;
    padding: 0px;
    margin: 0px;

}